*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat';font-size: 16px;

}

.contact-form{
  min-height: 100vh;
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom:100px;
  background: linear-gradient(#e66465, #9198e5);
}


.container{
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

h1{
  font-size: 32px;
  color: #ffffff;
text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

p{
  color: #ffffff;
  font-size: 26px;
  line-height: 1.5;
  padding: 16px;
  text-align: center;
}

form {

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  background-color: #ffffff;
  padding: 32px;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
  width: 70%;
  }

  .form-group{
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #9198e5;
    font-size: 16px;

  }
    .form-element{
      appearance: none;
      border: none;
      outline: none;
      display: block;
      width: 100%;

      border-radius: 12px;
      padding: 12px 16px;
      background-color: #d5d5d5;

  }


.submit-group{
  text-align: right;
  grid-column: 1 / -1;

.input[type="submit"]
  appearance: none;
  border: none;
  outline: none;
  color: #e66465;
  padding-top: 16px;
  padding-bottom: 16px;
}

label[type="email"] {
  padding-top: 16px;
}


                                                 .button-3 {
                                                   appearance: none;
                                                   background-color: rgba(255, 69, 0, 0.62);
                                                   border: 1px solid rgba(27, 31, 35, .15);
                                                   border-radius: 6px;
                                                   box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
                                                   box-sizing: border-box;
                                                   color: #fff;
                                                   cursor: pointer;
                                                   display: inline-block;
                                                   font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
                                                   font-size: 14px;
                                                   font-weight: 600;
                                                   line-height: 20px;
                                                   padding: 6px 16px;
                                                   position: relative;
                                                   text-align: center;
                                                   text-decoration: none;
                                                   user-select: none;
                                                   -webkit-user-select: none;
                                                   touch-action: manipulation;
                                                   vertical-align: middle;
                                                   white-space: nowrap;
                                                 }

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
